h1.text-center {
    color: #333;
    font-weight: bold;
}

.container {
    padding: 2rem 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    height: 250px;
    width: 200px;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-text.price {
    font-size: 1.25rem;
    color: #007bff;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #1b365d; 
    border-color: #1b365d; 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #162d4f; 
    border-color: #162d4f; 
    outline: none; 
}

.btn-warning {
    color: #212529;
    background-color: #e0c261;
    border-color: #e0c261;
    transition: background-color 0.3s ease; 
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: #d1b252; 
    border-color: #d1b252; 
    outline: none; 
}

.btn-primary, .btn-warning {
    flex-basis: 48%;
    margin: 1%; 
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
